<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Rewire Nation</h1>
    <div class="messageboard">
        <div class="heading">
            <div class="blip"></div>
            <div class="mainheading">Fitness bois</div>
            <!-- <img src="./img/Group 16.png" alt="" class="cross"> -->
            
        </div>
        <div class="chatroom">

        </div>
        <form class="bottom" >
            <input id="msg" type="text" class="okay">
            <input type="submit">
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  var socket = io();
  $(function () {
    let socket = io();
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', $('#msg').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('.chatroom').append($('<li>').text(msg));
    });
  });
</script>
</body>
</html>