<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="signupName/style.css">
    <title>Document</title>
</head>
<body>
    <script>
        window.onload = (e)=>{
            e.preventDefault();
            let submiton = document.getElementById("submit");
            submiton.addEventListener("click", ()=>{
                gsap.to("body",{
                    duration: 0.5,
                    opacity: 0
                })  
                setTimeout(function() {
                    location.href = "/su";
                    },500);
                
            })
        };  

        
    </script>
    <p>what's your name?</p>
    <form action="/action_page.php">
        <input type="text" name="Name" value="Your Name" class="input" placeholder="Your Name"><br>
        <div class="button" id="submit">
            <input type="submit" value="OK" class="ok">
            <img src="signupName/img/Vector.png" alt="" srcset="">
        </div>
        
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.1/gsap.min.js"></script>
</body>
</html>