<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="signupEmail/style.css">
    <title>Document</title>
</head>
<body>
    <script>
        const body = document.querySelector("body");
        setTimeout(function() {
                    gsap.to(body,{
                        duration: 0.5,
                        opacity: 1
                    })
                    }, 1);    
    </script>

    <p>your email address please?</p>
    <form action="/action_page.php">
        <input type="text" name="Name" value="" class="input" placeholder="Email"><br>
        <div class="button">
            <input type="submit" value="OK" class="ok">
            <img src="signupEmail/img/Vector.png" alt="" srcset="">
        </div>
        
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.1/gsap.min.js"></script>

</body>
</html>