*{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

input[placeholder]{
  opacity: 0.5;
}
.logoover{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #312323;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}
.main{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #FFA800;
}
.user{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
}
.pass{
    
    position: absolute;
    top: calc(40% + 8rem);
    left: 30%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
}
.username{
    position: absolute;
    top: calc(40% + 4rem);
    left: 40%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
}
.password{
    position: absolute;
    top: calc(40% + 12rem);
    left: 40%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
}
input{
    outline: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
}

.ok{
    position: absolute;
    font-size: 2rem;
    bottom: 50%;
    transform: translate(0,50%);
    
}
.image{
    position: absolute;
    height: 25px;
    width: 30px;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    background: #DAD9D9;
} 
.button{
    position: absolute;
    height: 60px;
    width: 110px;
    top: calc(40% + 16rem);
    left: 40%;
    background: #DAD9D9;
    padding-left: 7px;
}